body {background: #ffffff; margin: 0; padding : 0}
a{font-size: 20px}
#container {width: 1800px; margin: 0; padding: 0; background: #dddddd;}
#header {width:100%; height: auto; 	margin: 0; padding: 0; border: 0; background: #39ff14; float : left;}
#menu {width: 100%; height: 30px; margin: 0; padding: 0; border: 0; background: #39ff14; display: flex;
    justify-content: space-between; float : left;}
a.inlined {
    display: inline;
}
span.navigationSpace {
    padding-left: 100px;
}